/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$border-color: #f5f5f5;
$padding:1.5em;
$v-start: 10vh;
$bottom: 4vh;

body{

  height:100%;
}

footer{
  border-top: 2px solid $border-color;
  padding:$padding 0;
  position:fixed;
  bottom:0;
  left:20px;
  right:20px;
  background:white;
}

form.button_to{
  display:inline-block;
}



section#meta{
  width:30vw;
  position:fixed;
  padding:$padding;
  height:100vh;

  > form{
    position:absolute;
    top:$v-start;
    width:80%;
    input[type="submit"]{
      margin-top:2vh;
    }
  }

  #meta-info{
    position:absolute;
    bottom:$bottom;
    p{
      padding: 5px 0;
    }
  }
  .dropdown-menu{
    width:26vw;
    min-width:0;
  }
}

section#content{
  margin-left:35vw;
  padding-top: $v-start;
  width:40vw;
  #feed li{
    background:#fff;
    padding:15px;
    border-radius:5px;
    margin:0 0 25px 0;
    position:relative;
    p{
      margin:10px 0;
    }
    a.delete{
      position: absolute;
      right: .5rem;
      top: .5rem;
    }
    .date{
      margin-top:.5em;
    }
  }
}

@media screen and (max-width: 1000px) {
  body{padding:20px;}
  section#meta{
    position:static;
    width:100%;
    height:auto;
    padding:0;
    > form{
      position:static;
      margin-top:2vh;
    }
    #meta-info{
      position: static;
      margin-top:2vh;
      .dropdown-menu{
        position:static;
        margin-top:2vh;
        width:auto;
      }
      .dropdown{
        display:block;
      }
    }
  }
  section#content{
    margin-left:0;
    width:100%;
  }
}
