<div id="meta-info">

  <div class="dropdown is-up">
    <div class="dropdown-trigger">
      <button class="button is-white" aria-haspopup="true" >
        <span class="icon has-text-dark">
          <i class="fas fa-info-circle"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <%= render 'when-locked'  %>
        <%= render 'login'  %>
        <%= render 'addpass' %>
        <%= render 'intro' %>
        <% if @feed.present? %>
          <div class="dropdown-item">
            <p id="expire"><%= @days_til_expire.to_i %> days until self-destruction</p>
            <p class="has-text-grey">Site is deleted after 30 days of inactivity</p>
          </div>
        <% end %>
        <hr class="dropdown-divider">
        <div class="dropdown-item">
          <a href="/faq" target="_blank">FAQ</a>
        </div>
      </div>
    </div>
  </div>
</div>
